body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	display: grid;
	grid-template: 10% 1fr / 30% 1fr;
	grid-gap: 20px;
	grid-template-areas: "aside form"
						 "aside video";

}

.itemBody {
	border: 1px solid red;
}

.leftBar {
	grid-area: aside;
	display: grid;
	grid-template-rows: 20% 1fr 1fr;
	grid-row-gap: 10px;
	align-content: start;
	grid-template-areas: "tittle"
						 "myPlayLst"
						 "frPlayLst";
}

.frmSearch {
	grid-area: form;
}

.secVideos {
	grid-area: video;
}


.headPlatzi {
	grid-area: tittle;
}

.myPlayList {
	grid-area: myPlayLst;
}

.frPlayList {
	grid-area: frPlayLst;
}